body{
    overflow: hidden;
}

img{
    display: block;
    animation-name: car;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    

}


@keyframes car {
    0%{top:0 ; left:-200px ; }
    50%{top:0 ; left:100% ; }
    99%{transform: rotateY(180deg)}
    100%{top:0; left:0 ;transform: rotateY(180deg) }
}

img[alt="car1"]{
    animation-duration: 2s;
}

img[alt="car2"]{
    animation-duration: 5s;
}

img[alt="car3"]{
    animation-duration: 3s;
}

img[alt="car4"]{
    animation-duration: 1s;
}