.container{
    background-color: brown;
    width:90%;
    margin:auto;
}

.item{
    width:25%;
    float:left;
    
}

.item img{
    width:100%;
    
}

.cleart{
    clear:both
}

body{
    margin:0
}