*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 90%;
    margin:auto;
    font-family: "Raleway", sans-serif;
}

.dinah{
    text-align: center;
    margin-bottom: 20px;
    color:#1f3571;
    font-size: 50px;
}
.dinap{
    text-align: center;
    color:#1f3571;
    font-size: 22px;
    margin-bottom: 20px;
}

.all-item{
    padding:15px 0px;
}
.item{
    width:25%;
    position: relative;
    overflow: hidden; 
    float: left;
}

.item img{
    width:100%;
    transition: transform 1s 3s;
}

.item:hover img{
    transform: scale(1.2);
}

.item-caption{
    width: 100%;
    text-align: center;
    color:white;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s , transform 1s;
}

.item:hover .item-caption{
    opacity: 1;
    transform: rotate(360deg);
}

.item-caption h2{
    background-color:#1f3571 ;
    transform: translatex(120%);
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 2s 1s ease-in ;
}

.item-caption p{
    transform: translatex(120%);
    transition: transform 2s 2s ;
}

.item:hover .item-caption h2{
    transform: translatex(0);
}

.item:hover .item-caption p{
    transform: translatex(0);
}
